*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Poppins'; 
    src: url('../Assets/Fonts/Poppins/Poppins-Bold.ttf') format('ttf'); 
    font-size: 20px;
  
}
/* Font Declaration */
@font-face {
    font-family: 'Porter Sans';
    src: url('../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff'),
         url('../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf') format('truetype');
}

@font-face {
    font-family:'Poppins';
    src: url('../Assets/Fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
         url('../Assets/Fonts/Poppins/Poppins-Medium.ttf') format('ttf'),
         url('../Assets/Fonts/Poppins/Poppins-SemiBold.ttf') format('ttf'),
         url('../Assets/Fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}

.topNav{
    width: 255%;
    overflow:hidden;
    background-color:rgba(160, 159, 159, 0.5);
    opacity: o 0.5;
    border-radius: 30px;
    margin: 60px;
    margin-top:2px;
   
    
}

.topNav a{
    float: left;
    color:black;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

.topNavRight{
   text-align: center; 
   padding: 8px;
   
}

.topNav a:hover{
    color: #E86900;
}

.topNav a.active{
    color: #E86900;
}


.headerBg {
    background-image: url("../Assets/Images/headerbackBack.png");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:initial;
    position: relative;
    padding: 25px;
   
  }
  
  
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }


/* .textOverlay */
.textOverlay {
    position: absolute;
    top: 44%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 34px; 
    text-align: center;
    font-family: 'Porter Sans'; 
    padding-bottom: 20px;
}


.center, .bottomCenter {
    margin-bottom: 4px;
    
}


.center p {
    font-size: 35px;
    color: #ffffff;
    padding-top: 10px;
     margin-top: 10px;
     
}

.bottomCenter p{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 50px;
    
}


/* plain container */
.flex-container {
    display: flex;
    align-items: center;
    
}
/* ------------------------- */
/* colour container*/
.flex-container2 {
    display: flex;
    align-items: center;
    background-color: #E86900;
    
}
/* -------------------------- */

.text-content {
    flex: 1; 
    padding: 20px;
    flex-basis: 30%;
    color:black;
    margin-right: 65px;
    display: flex;
    flex-direction: column;
   
}

.text-content h6 {
    margin-top: 0;
    color:gray; 
}
.text-content h2 {
    margin-top: 0; 
}

.text-content p {
    margin-top: 0;
    font-size: 16px; 
}

/* colour container text */
.text-content2 {
    flex: 1; 
    padding: 20px;
    flex-basis: 30%;
    color:white;
    margin-right: 65px;
    display: flex;
    flex-direction: column;
   
}

.text-content2 h6 {
    margin-top: 0;
    color:gray; 
}
.text-content2 h2 {
    margin-top: 0; 
}

.text-content2 p {
    margin-top: 0;
    font-size: 16px; 
}
/* ---------------------------- */

.image-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin: 45px;
}

.image-container img {
    max-width: 100%; 
    object-fit: cover; 
    height: auto;
   

}

.button1 {
    
    font-family: 'Poppins'; 
    src: url('../Assets/Fonts/Poppins/Poppins-Bold.ttf') format('ttf'); 
    cursor: pointer;
    width:80px;
    height: 40px;
    border: none;
    background-color:#F1D021;
    color: whitesmoke;
    padding:10px;
    font-size:17px;
    margin: 5 5 15px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
}

.button2 {
    
    font-family: 'Poppins'; 
    src: url('../Assets/Fonts/Poppins/Poppins-Bold.ttf') format('ttf'); 
    cursor: pointer;
    width:130px;
    height: 40px;
    border: none;
    background-color:#3A5ef8;
    color: whitesmoke;
    padding:10px;
    font-size:17px;
    margin: 5 5 15px;
    border-radius: 12px;
    text-align: center;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .text-content, .image-container {
        flex: none; 
        width: 100%; 
    }
}


/* Footer */
footer {
    background-color: #ffffff;
    padding: 20px 0;
    padding: 1rem 0;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.footerP{
    font-size: small;
    color: grey;

}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    font-size: small;
    text-align: left;
}

.footer-column ul li {
    margin-bottom: 5px;
    font-size: small;
    color: grey;
    text-align: left;
}


/* social media icons footer */
.footerMedia {
    display: flex;
    justify-content:left; 
    align-items:right; 
  }
  
  .footerMedia img {
    width: 50px; 
    height: 50px; 
    margin: 0 10px;
    margin-bottom: 1rem;
  }

  .footerLogo{
    display: flex;
    justify-content:left; 
    align-items:right; 
  }
  .footerLogo img {
    width: 226px; 
    height: 48px; 
    margin: 0 10px;
    display: block;
  }
  .footerLogo p{
    text-align:left; 
    margin-top: 10px;
    font-size: 15px;
    display: block;
    margin: 0 10px;
    
  }

.footerLinks{
    font-size: 20px;
}

.footer-info {
    flex: 1;
    text-align:left;
    font-size: small;
    
}

.footer-info2{
    flex: 1;
    text-align:right;
    font-size: small;
   
}

